{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

{% image page.get_parent.specific.banner_image fill-900x400 as img %}

<div>
    <div class="bg-cover bg-center h-64" style="background-image: url('{{ img.url }}')">
    </div>
    <div class="text-center text-white -mt-48">
        <h1 class="font-bold text-5xl">
        {{ page.get_parent.specific.banner_title}}
        </h1>
        <p class="text-sm">{{ page.get_parent.specific.banner_subtitle|richtext }}</p>
    </div>
</div>

<div>
    <ul class="flex border-b mt-24">
        {% for category in categories%}
        <li class="-mb-px mr-1">
            <a class="bg-red inline-block border-l border-t border-r rounded-t py-2 px-4 text-white-700 font-semibold" href="#">{{ category }}</a>
        </li>
        <!-- <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Tab</a>
        </li>
        <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Tab</a>
        </li>
        <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">Tab</a>
        </li> -->
        {% endfor %}
    </ul>
</div>
<div class="mt-8 container mx-auto px-4">
    <h2>{{ page.title }}</h2>
    <p>{{ page.content|richtext }}</p>
    
</div>

{% endblock content %}
