{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<!-- <div class="container mx-auto">
	<section class="flex items-center justify-center h-screen">
		<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
	</section>

</div> -->

<style>
.bannerFondo{
        height: 400px;
}
</style>
<div>      
	<div class="bannerFondo bg-green-800	bg-left-top bg-auto bg-repeat-x" style="background-image: url(./img/continuartl_4.png)">
	</div>

      <div class="-mt-64 ">
        <div class="w-full text-center">
          <p class="text-sm tracking-widest text-white">Subtitle</p>
          <h1 class="font-bold text-5xl text-white">
              Title
          </h1>
      	</div>
            
      </div>
  
  </div>

{% endblock content %}
