{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% image page.banner_image fill-900x400 as img %}

<style>
.bannerFondo{
        height: 300px;
}
</style>
<div>      
	<div class="bannerFondo	bg-cover bg-center" style="background-image: url('{{ img.url }}')">
	</div>

      <div class="-mt-64 ">
        <div class="w-full text-center text-white">
          <h1 class="font-bold text-5xl">
              {{ page.banner_title}}
          </h1>
          <p class="text-sm">{{ page.banner_subtitle|richtext }}</p>
      	</div>
            
      </div>
  
  </div>

{% endblock content %}
